body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: aliceblue;
  text-align: center;
}

/* КОРИЦА */
#cover {
  height: 300px;
  background: url("logo.jpg") center/cover no-repeat;
}

/* ЗАГЛАВИЕ */
.main-title {
  margin: 20px 0;
}

/* МЕНЮ */
#menu {
  display: flex;
}
#menu button {
  flex: 1;
  padding: 14px;
  background: #d32f2f;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
#menu button:hover {
  background: #a00000;
}

/* СЕКЦИИ */
.section {
  display: none;
  flex-direction: column;
  align-items: center;
}
.section.active {
  display: flex;
}

/* ЛИНИЯ */
#timeline-container {
  width: 80%;
  position: relative;
  margin: 40px 0;
}
#timeline-line {
  height: 4px;
  background: gold;
  position: absolute;
  top: 50%;
  width: 100%;
}
#timeline {
  display: flex;
  justify-content: space-between;
  position: relative;
}
#timeline button {
  background: red;
  color: white;
  border-radius: 12px;
  padding: 10px 18px;
  border: none;
  cursor: pointer;
}
#timeline button:hover {
  background: darkred;
}

/* СЪБИТИЯ */
#events {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}
#events button {
  background: orange;
  color: white;
  border: none;
  border-radius: 14px;
  padding: 14px;
  width: 230px;
  cursor: pointer;
}
#events button:hover {
  background: darkorange;
}

/* OVERLAY */
#event-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: none;
  justify-content: center;
  align-items: center;
}
#event-content {
  background: white;
  padding: 20px;
  border-radius: 14px;
  width: 80%;
  max-width: 500px;
}
#event-img {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}
#close-overlay {
  cursor: pointer;
  font-size: 28px;
  float: right;
}

/* КВИЗ */
.quiz-question {
  background: #f5f0e6;
  padding: 15px;
  margin: 10px;
  border-radius: 14px;
  width: 90%;
  max-width: 500px;
}
.answer {
  display: block;
  margin: 6px 0;
}
.quiz-btn {
  padding: 14px 28px;
  background: #ffcc66;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
#quiz-result {
  font-size: 24px;
  margin-top: 15px;
  font-weight: bold;
}






































