body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    color: dimgray;
}

#menu {
    display: flex;
    background-color: darkorange;
}

#menu button {
    flex: 1;
    padding: 12px;
    background: rgb(255,70,70);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.section {
    display: none;
    flex-direction: column;
    align-items: center;
}

.section.active {
    display: flex;
}

#timeline-container {
    width: 80%;
    position: relative;
}

#timeline-line {
    width: 100%;
    height: 4px;
    background: gold;
    position: absolute;
    top: 40px;
}

#timeline {
    display: flex;
    justify-content: space-between;
}

#timeline button {
    background: red;
    color: white;
    padding: 12px 22px;
    border-radius: 12px;
    cursor: pointer;
}

#events {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    margin-top: 30px;
}

#events button {
    width: 250px;
    background: orange;
    color: white;
    border-radius: 14px;
    font-weight: bold;
    cursor: pointer;
}

#event-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

#event-content {
    background: white;
    padding: 20px;
    border-radius: 12px;
    max-width: 600px;
}

.quiz-main-btn {
    padding: 15px 30px;
    background: #ffe5b4;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}

#cover {
    width: 100%;
    height: 350px;
    background-image: url("logo.jpg");
    background-size: cover;
    background-position: center;
}

#cover-title {
    color: white;
    font-size: 50px;
    text-shadow: 0 0 10px black;
}








































