body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f2f2f2;
  text-align: center;
}

#menu {
  display: flex;
}

#menu button {
  flex: 1;
  padding: 15px;
  background: darkred;
  color: white;
  border: none;
  cursor: pointer;
}

.section {
  display: none;
  padding: 20px;
}

.section.active {
  display: block;
}

#timeline button,
#events button,
#quiz button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

#events button {
  background: orange;
  color: white;
}

#overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: none;
  justify-content: center;
  align-items: center;
}

#overlay-content {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 80%;
  max-width: 500px;
}





































